
:root{
	--main-color: rgba(61, 179, 199);
	--font-color: rgba(255, 255, 255);
	--main-font: 'Roboto', sans-serif;
	--border-radius: 5px;
	--web-width: 70%;


}

body {
	font-family: var(--main-font);
}

.flex {
	display: flex;
}

.web-width {
	max-width: var(--web-width);
	margin: 0 auto;
}

.logo-container {
	margin-top: 20px;
	justify-content: space-between;
}

.logo-psicologia-miraflores {
	height: 95px;
}

.nav-bar {
	background-color: var(--main-color);
	height: 100px;
	border-radius: var(--border-radius);
	box-shadow: 5px 5px 10px #666;
}

.nav-bar ul li a{
	padding: 10px;
	text-decoration: none;
	color: var(--font-color);
	font-size: 1.2em;
	
}

.nav-links {
	justify-content: space-around;
}

.nav-links li {
	margin-top: 35px;
}

.lights-sky{
	background-image: url('../img/light-bulb.jpg');
	width: 100%;
	max-width: 1400px;
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-color: var(--main-color);
	margin-top: 50px;
	box-shadow: 5px 5px 10px #666;
}

.link-cards-container {
	padding-top: 50px;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	color: var(--font-color);
	font-size: 1.5em;
}

.link-card {
	background-color: rgba(61, 179, 199, .7);
	padding: 20px 10px;
	margin: 20px;
	border-radius: var(--border-radius);
	text-align: center;
	min-width: 400px;
}

.link-card a {
	text-decoration: none;
	color: var(--font-color);
}

.link-card p {
	padding: 10px;
}